body{
    margin: 0px;
}
.home{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url(Capture.JPG);
    background-size: cover;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
#raul{
 margin-right: 510px;
 text-shadow: 2px 2px 5px rgb(255, 246, 246);
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form input{
    height: 30px;
    width: 400px;
    margin-left: 20px;
}
#button3{
    height: 35px;
    border: none;
    background-color: rgb(38, 140, 160);
    color: white;
    padding: 0px 15px;
    border-top-right-radius:2px ;
    border-bottom-right-radius: 2px;
 }
.FF{
    color: white;
    font-size: x-large;
    margin-left: 20px;
    margin-bottom: 0px;
    opacity: 0.8;
}
.abcd{
    margin-top: 20px;
    color: white;
    font-size: xx-large;
    margin-left: 20px;
    opacity: 0.8;
}
